<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Live Stream</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>
